body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    height: auto;
    border-radius: 20px;
    width: 300px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:8px;
}
#heading{
    color: white;
    font-size: 17px;
    margin: 4px;
    text-align: center;
    font-family: "outfit";
    font-weight: 400;
}
#second-para{
    color: yellowgreen;
    font-size: 14px;
    margin:4px;
    text-align: center;
    font-family: "outfit";
    font-weight: 400;
}
.social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.social-links a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin: 5px;
    font-family: "outfit";
    font-weight: 500;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    padding: 10px;
    width: 136px;
    text-align: center;

}

.para{
    color: white;
    font-size: 12px;
    margin:2px;
    text-align: center;
    font-family: "outfit";
    font-weight: 400;
}
a:hover{
    background-color:yellowgreen;
    color: black;
}
@media (max-width:600px)
{
    .social-container{
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .avatar{
        width: 80px;
        height: 80px;
    }
    #heading{
        font-size: 15px;
    }
    #second-para{
        font-size: 12px;
    }
    .social-links a{
        font-size: 8px;
        padding: 8px;
        width: 100px;
    }
    .para{
        font-size: 10px;
    }
}